.material-spec-grid {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 15px;
    margin-bottom: 15px;
}

.material-spec-grid .grid-heading {
    margin-bottom: 15px;
}

.material-spec-grid .grid-row {
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--fg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.material-spec-grid .grid-footer {
    margin-top: 15px;
}

